<div>

</div>
<div class="vdcpreview__txtHelper">CITA CON EL DOCTOR XXXX, a las 10:00 A.M</div>
<div class="vdcpreview__container">

    
    <div class="vdcpreview__previewContainer">

        <div class="previewContainer__meeting">

            <div class="vdcpreview__txtHelper">
                <span>LOGO</span>   
            </div>
            <br>
            <span class="meeting__joinText">You're about to join a video meeting <a href="#">xxxxx-yy.com/pegassi_devs</a></span>

            <div class="meeting__userCam">
                <img src="https://ak3.picdn.net/shutterstock/videos/24953183/thumb/8.jpg">
            </div>

        </div>
        <div class="preview__footer">
            <button>Deseo Entrar</button>
        </div>

    </div>
</div>