
<div class="vdcpreview__advisory">CITA CON EL DOCTOR XXXX, a las 10:00 A.M</div>

<div class="vdcpreview__card">
    <div class="card">
        <div class="card__header">
            <img src="https://3.bp.blogspot.com/-xzRtweSMii8/VrCtynTUz_I/AAAAAAAAFRM/yXYTMlqCRZ8/s1600/oms-logo-zika.png" alt=""> 
        </div>
        <div class="card__body">
            <span class="body__title">You're about to join a video meeting <a href="#">whereby.com/pegassi_devs</a></span>
            <div class="body__contain">
                <img src="https://i.imgur.com/Yratisf.gif?noredirect">
            </div>
        </div>
        <div class="card__footer">
            <button>SÍ, DESEO ENTRAR</button>
        </div>
    </div>
</div>