h4{
    color: white;
}
.patient{
    width: 50%;
    margin: 0 auto;
}
.form{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    color:white;
    input{
        width: 100%;
    }
    .form__personalinfo{
        div{
           padding: 10px;
           margin: none;
        }
        .personalinfo__names, .personalinfo__dni,  .personalinfo__phones{
            display: grid;
            grid-template-columns: auto auto;
        }
        .personalinfo__dni{
            display: grid;
            grid-template-columns: 20% 80%;
        }
        .personalinfo__country{
            display: grid;
            grid-template-columns: auto auto auto;
        }
    }
    .form__questions{
        .questions__doctor{
            display: grid;
            grid-template-columns: 20% 80%;
        }
    }
}