
.patient{
  color:white;
  width: 90%;
  margin: 1em auto;
    .patient__header{
      display: grid;
      grid-template-columns: auto auto;
      .header__logo{
        display: grid;
        grid-template-columns: auto auto;
        text-align: right;
      }
    }
    .patient__body{
        text-align: center;
        .flex-container {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          height: 60vh;
          box-sizing: border-box;
        }
        .flex-container * {
          width: calc(50% - 10px);
          margin: 0 5px;
          box-sizing: border-box;
        }
        .flex-container :nth-child(2),
        .flex-container :nth-child(3) {
          margin-top: 5px;
        }
        .flex-container :nth-child(3) {
          flex: 1;
        }
        .flex-container :nth-child(4) {
          height: 100%;
        }
    }
}
