<div class="vdchomeroom__header">
    <div class="header__logo">
        <img src="https://3.bp.blogspot.com/-xzRtweSMii8/VrCtynTUz_I/AAAAAAAAFRM/yXYTMlqCRZ8/s1600/oms-logo-zika.png"
            alt="">
    </div>
    <div class="header__date">
        <span>
            Consulta: 10:00 a.m
        </span>
    </div>
    <div class="header__register">
        <button>
            ABRIR REGISTRO CLÍNICO
        </button>
    </div>
</div>

<div class="vdchomeroom__body">
    <div class="body__video">
        <img src="https://i.makeagif.com/media/12-02-2015/JOiME2.gif" alt="">
    </div>
    <div class="body__chat">
        <div class="chat__title">
            <span>CHAT</span>
        </div>
        <div class="chat__conversation">
            <div class="conversation__containerMessages">
                <div class="containerMessages__time">
                    12:00
                </div>
                <div class="containerMessages__messages">
                    <div class="message message__sent">
                        What happened last night?
                    </div>
                    <div class="message message__received">
                        You were drunk.
                    </div>
                    <div class="message message__sent">
                        No I wasn't.
                    </div>
                    <div class="message message__received">
                        You were hugging an old man with a beard screaming "DUMBLEDORE YOU'RE ALIVE!"
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__input">
            <div>
                <input type="file" id="selectedFile" style="display: none;" />
                <button type="button" value="Browse..." onclick="document.getElementById('selectedFile').click();">
                    <i class="fas fa-paperclip"></i>
                </button>
            </div>
            <div>
                <input type="text" placeholder="Send a chat message...">
            </div>
            <div>
                <button>
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>