.vdchomeroom__header{
    display:grid;
    grid-template-columns: 10% auto auto;
    background: #0077c8;
    padding: 5px;
    @media screen and (max-width: 600px) {
        display: block;
    }
    .header__logo{
        text-align: left;
        text-align: center;
        border-right: 1px solid white;
        @media screen and (max-width: 600px) {
            text-align: center;
        }
        img{
            @media screen and (max-width: 600px) {
                width: 6em;
            }
            width: 3.5em;
        }
     
    }
    .header__date{
        color: white;
        padding: 1em;
        @media screen and (max-width: 600px) {
            display: inline-block;
        }
    }
    .header__register{
        text-align: right;
        padding: 1em;
        @media screen and (max-width: 600px) {
            display: inline-block;
            float: right;
        }
        @media screen and (max-width: 400px) {
            display: none;
        }
        button{
            background: none;
            border: none;
            transition-duration: 0.2s;
            border-bottom: 1px solid white;
            cursor: pointer;
            outline: none;
            color: white;
            padding: 0px;
        }
        button:hover{
            border-bottom: 3px solid white;
        }
    }
}
.vdchomeroom__body{
    display: grid;
    grid-template-columns: 70% 30%;
    @media screen and (max-width: 950px) {
        display: block;
    }
    .body__video{
        position: relative;
        img{
            width: 100%;
        }
    }
    .body__video::before{
        content: "PACIENTE: CAROLINA GONZALEZ";
        position: absolute;
        font-size: 0.8em;
        bottom: 1em;
        background: lightseagreen;
        color: black;
        border: 1px solid #0077c8;
        border-left: none;
        padding: 0.5em;
        font-family: cursive;
    }
    .body__chat{
        position: relative;
        background-color: whitesmoke;
        .chat__title{
            text-align: center;
            background: lightseagreen;
            padding: 10px;
            color: white;
        }
        .chat__conversation{
            height: 100%;
            width: 100%;
           iframe{
               .chats{
                display: none !important;
               }
            width: 100%;
            height: 100%;
           }
        }
    }
}
