.vdchomeroom__header{
    display:grid;
    grid-template-columns: 10% 20% auto;
    @media screen and (max-width: 1050px) {
        grid-template-columns: auto auto auto;
    }
    .header__logo{
        text-align: left;
        img{
            width: 3em;
        }
    }
    .header__date{
        background-color: #0077c8;
        display: table;
        padding: 10px;
        color: white;
        overflow: hidden;
        text-align: center;
    }
    .header__register{
        text-align: right;
        button{
            background: white;
            border: none;
            border-bottom: 1px solid greenyellow;
            padding: 10px;
            transition-duration: 0.2s;
            cursor: pointer;
            outline: none;
        }
        button:hover{
            border-bottom: 3px solid greenyellow;
        }
    }
}
.vdchomeroom__body{
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 2em;
    @media screen and (max-width: 1050px) {
        display: block;
    }
    .body__video{
        position: relative;
        img{
            width: 100%;
        }
    }
    .body__video::before{
        content: "PACIENTE: CAROLINA GONZALEZ";
        position: absolute;
        font-size: 0.8em;
        bottom: 1em;
        background: #0077c8;
        color: white;
        border: 1px solid white;
        border-left: none;
        padding: 0.5em;
        border-radius: 0px 3px 3px 0px;
    }
    .body__chat{
        position: relative;
        background-color: whitesmoke;
        .chat__title{
            text-align: center;
            background: #0077c8;
            padding: 10px;
            color: white;
        }
        .chat__input{
            @media screen and (max-width: 1050px) {
                position: relative;
            }
            background-color: white;
            display: grid;
            grid-template-columns: auto auto auto;
            position: absolute;
            bottom: 0px;
            width: 100%;
            input{
                width: 100%;
                border: none;
                outline: none;
            }
            button{
                width: -webkit-fill-available;
                border: none;
                background: none;
                cursor: pointer;
                transition-duration: 0.2s;
                border-bottom: 3px solid white;
            }
            button:hover{
                border-bottom: 3px solid #0077c8;
                color: #0077c8;
            }
        }
        .chat__conversation{
            .conversation__containerMessages {
                position: relative;
                z-index: 0;
                .containerMessages__messages{
                    padding: 0 16px;
                    margin-bottom: 5px;
                    .message {
                        color: #000;
                        clear: both;
                        line-height: 18px;
                        font-size: 15px;
                        padding: 8px;
                        position: relative;
                        margin: 8px 0;
                        max-width: 85%;
                        word-wrap: break-word;
                        z-index: -1;
                      }
                      
                      .message:after {
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 0;
                        border-style: solid;
                      }
                      
                      
                      .message:first-child {
                        margin: 16px 0 8px;
                      }
                      
                      .message__received {
                        background: #fff;
                        border-radius: 0px 5px 5px 5px;
                        float: left;
                      }
                      
                      .message__received .metadata {
                        padding: 0 0 0 16px;
                      }
                      
                      .message__received:after {
                        border-width: 0px 10px 10px 0;
                        border-color: transparent #fff transparent transparent;
                        top: 0;
                        left: -10px;
                      }
                      
                      .message__sent {
                        background: #e1ffc7;
                        border-radius: 5px 0px 5px 5px;
                        float: right;
                      }
                      
                      .message__sent:after {
                        border-width: 0px 0 10px 10px;
                        border-color: transparent transparent transparent #e1ffc7;
                        top: 0;
                        right: -10px;
                      }
                }
                .containerMessages__messages:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                .containerMessages__time{
                    text-align: center;
                    margin: 20px;
                    color: #929292;
                }
            }
        }
    }
}
  