<div class="vdchomeroom__header">
    <div class="header__logo">
        <img src="../../../assets/logo.png" alt="">
    </div>
    <div class="header__date">
        <span>
            Consulta: 10:00 a.m
        </span>
    </div>
    <div class="header__register">
        <button>
            ABRIR REGISTRO CLÍNICO
        </button>
    </div>
</div>

<div class="vdchomeroom__body">
    <div class="body__video">
        <img src="https://i.makeagif.com/media/12-02-2015/JOiME2.gif" alt="">
    </div>
    <div class="body__chat">
        <div class="chat__title">
            <span>CHAT</span>
        </div>
        <div class="chat__conversation">
            <iframe 
             src="https://sleepy-anchorage-59959.herokuapp.com/course_gui/chat"
             id="frame"
          ></iframe>
          </div>
    </div>
</div>